header{
    background-color: rgb(0, 9, 108);
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 1% 1%;
    border: 3px solid rgba(35, 46, 163, 0.363);
}

#button-entrar{
    background-color: rgb(24, 132, 9);
}

#button-cadastrar{
    background-color: rgb(241, 44, 76);
}